@import "tailwindcss";


@layer utilities {
    .gradient-text{
        background : linear-gradient(to right, #000, #1a2949, #194acc, #1548cc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: whitesmoke;
    color: black;
}

